@page "/text-input"
@page "/form/text-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Text Input</h1>
<div class="lead mb-3">
    Blazor Bootstrap <code>TextInput</code> component is built around HTML input of <code>type="text"</code> that allows the user to input text based value.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
<Demo Type="typeof(TextInput_Demo_01_Basic_Usage)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Disabled" PageUrl="@pageUrl" HashTagName="disabled" />
<Demo Type="typeof(TextInput_Demo_02_Disabled)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="With label and hint" PageUrl="@pageUrl" HashTagName="with-label-and-hint" />
<Demo Type="typeof(TextInput_Demo_03_With_Label_And_Hint)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="With icon" PageUrl="@pageUrl" HashTagName="with-icon" />
<Demo Type="typeof(TextInput_Demo_04_With_Icon)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="With help tooltip" PageUrl="@pageUrl" HashTagName="with-helptooltip" />
<Demo Type="typeof(TextInput_Demo_05_With_HelpTooltip)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="With validation" PageUrl="@pageUrl" HashTagName="with-validation" />
<Demo Type="typeof(TextInput_Demo_06_With_Validation)" Tabs="true" />

@code {
    private string pageUrl = "/form/text-input";
    private string title = "Blazor TextInput Component";
    private string description = "Blazor Bootstrap TextInput component is built around HTML input of type=\"text\" that allows the user to input text based value.";
    private string imageUrl = "https://i.imgur.com/iUNBkki.png";
}
